<!-- <button [(ngModel)]="searchText" value="INSTA"> INSTA </button> -->
<!-- <input type="text" [(ngModel)]="searchText"> -->
<section class="card-list">
    <mat-card *ngFor="let title of titleList">
    <!-- <mat-card *ngFor="let title of titleList |filter:searchText"> -->
        <mat-card-title>
            {{title.short_name}}
        </mat-card-title>
        <hr/>
        <mat-card-subtitle>
            {{title.long_name}}
        </mat-card-subtitle>
        <mat-card-content>
            <p>Level {{title.rncp_level}}</p>
            <p>{{title.certifier.short_name}}</p>
            <span *ngIf="title.is_published" class="dot-green"></span>
            <span *ngIf="!title.is_published" class="dot-red"></span>
        </mat-card-content>
    </mat-card>
</section>

